.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
rspack.config.js
vsc-extension-quickstart.md
pnpm-lock.yaml
.pnpm*
**/tsconfig.json
**/.eslintrc.json
**/.eslintignore
**/*.map
**/*.ts
images/**
!images/icon.svg
!images/icon.png
demo/**
TODO.md
AGENTS.md
README.zh-CN.md
.github/**
.nvmrc
.prettierignore
